.container{
    max-width: 300px;
    height: 60vh;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff ;
    
}
.center{
    text-align: center;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border: 1px solid #FDDBB5;
    background-color: #0f0f0f;
    padding: 50px;
}
.content img{
    width: 60px;
    transition: all 1s;
}
.content img:hover{
    transform: rotate(360deg);
}
.tdProfit{
    color: #23f98a;
}
.tdLoss{
    color: #f91257;
}