.header{
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}
.header a{
    display: flex;
    align-items: center;
}
.header img{
    width: 80px;
    margin-right: 20px;
}
.header h1{
    color: #FDDBB5;
}